.header {
    background-color: #EF717A;
}

.header_image {
    width: 60%;
	padding:1%; /*¬нутри*/
	/*margin:1%;*/ /*—наружи*/
}

.header_menu {
    background-color: #EF717A;
}

.breadcrumbs {
    font-size: 14px;
    margin-bottom: 10px;
}

h1.title-page {
    margin-bottom: 35px;
}

.content h1, .h1, .inner h1, .title-bread h1 {
    font-size: 30px;
    color: #0067b1;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}
input::-webkit-input-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
input:-moz-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
input:-ms-input-placeholder {
  color: #B6C0A5; 
  font-style: italic; 
  background: #E0EFCA;
}
button {
	color: #fff; /* цвет текста */
	text-decoration: none; /* убирать подчёркивание у ссылок */
	user-select: none; /* убирать выделение текста */
	font-weight:bold;
	background: rgb(66,146,211); /* фон кнопки */
	padding: .7em 1.5em; /* отступ от текста */
	outline: none; /* убирать контур в Mozilla */
} 
button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
button:active { background: rgb(152,15,0); } /* при нажатии */

 li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #343843; /* Цвет фона */
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-size:x-small;
 }
 
 li:hover {
  
    background: #343555; /* Цвет фона */
 }
 li:active {
  
    background: #BABBBD; /* Цвет фона */
 }
 
 
 p1{
	font-weight:bold; 
	font-size:large; 
	padding:0; 
	margin:0;
 }
 
 p2{
	font-weight:bold; 
	font-size:medium;
	padding:0; 
	margin:0; 
	color:grey;	
 }
 
 p3{
	font-size:small;
	padding:0; 
	margin:0;
 }
 
 
 table {
    width: 98%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
	border: 1px solid black;
    border-collapse: collapse;
	margin:1%;
	height: 1.5em;
	cursor: pointer;
   }
   td, th {
	   height: 1.5em;
     background: white; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
	border: 1px solid grey; /* Параметры рамки */
   }
   
   th{
	  
   }
    tr:hover td{
	   background: #E8E8E8;
   }
   
 