
.mymagicoverbox_fenetre {
 z-index:9999;
 position: absolute;
 width:350px;
left: 50%;
top: 50%;
margin-left: -175px;
margin-top: -170px;
 text-align:center;
 display:none;
 padding:25px 20px;
 border:3px solid;
 border-color:#D4D4D3;
 background-color:#FAFAFA;
 color:#343843;
 font-style:normal;
 font-size:20px;
 font-weight:300;
 font-family:'Arial';
}
.mymagicoverbox_fermer {
 color:#CB2025;
 cursor:pointer;
 font-weight:400;
 font-size:14px;
 font-style:normal
 font-family:'Roboto';
}
#myfond_gris {
 display: none;
 background-color:#ffffff;
 opacity:0.5;
 width:100%;
 height:100%;
 z-index:9998;
 position:fixed;
 top:0;
 bottom:0;
 right:0;
 left:0;
}

form input::-webkit-input-placeholder{
    background-color:white !important;
	font-style:normal !important;
	border-radius:0px !important;
 }

.authorize {
	width:100%;
}